body {
  background-color: white;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
a {
  color: inherit;
}
a:hover {
  color: rgba(210, 34, 34, 0.865);
}
h2 {
  font-size: 1.5em;
}
mark {
  background-color: rgba(235, 224, 224, 0.865);
  color: rgba(200, 32, 32, 0.911);
}
h2 mark:hover {
  font-size: 102%;
}

.header {
  background-color: rgba(0, 0, 0, 0.879);
}
.Logo {
  width: 500px;
  padding-bottom: 1em;
}
.subheading {
  padding-bottom: 2em;
  padding-top: 1.5em;
  font-size: 1.4em;
  text-align: center;
}
.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
